#navbar_container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: white;
}
#address{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-left: 60%;
    color: grey;
}
#navbar{
    width: 1500px;
    height: 200px;
    margin: auto;
   display: flex;
   justify-content: space-between;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#select{
    border-radius: 5px;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    background-color: green;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#select:hover{
    cursor: pointer;
    opacity: 0.8;
}
#lands{
    margin-top: 4%;
}
#lands a{
    text-decoration: none;
    color: grey;
}
#lands:hover{
    cursor: pointer;
    text-decoration: underline;
}
#big_b > img{
    width: 50%;
}
#big_b{
    width: 25%;
}
#search_bar{
    width: 50%;
}
#search{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 100%;
    padding-right: 100%;
    position: relative;
    bottom: 60%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#offers{
    position: relative;
    bottom: 35%;
    text-decoration: none;
    margin-left: 100%;
    color: black;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#offers:hover{
    border-radius: 5px;
    background-color: green;
    color: white;
}
#search_bar img{
    width: 100px;
    height: 100px;
}
#basket{
    margin-top: 3.5%;
    width: 25%;
    display: flex;
}
#basket img{
    margin-top: 5%;
    width: 15%;
    height: 35%;
}

